#industryContainer {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    box-sizing: border-box
}

h2,
h3 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

.updatebtn {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.all {
    width: 100%;
    /* 讓寬度與輸入框相同 */
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

#industryinput {
    width: 98%;
    padding: 10px, 10px, 10px;
    height: 35px;
    margin: 5px 0 10px;
    overflow: hidden;
}