#word {
    width: 100%;
    font-size: 24px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

#word h3 {
    margin: 0 auto;
}

.filter-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 垂直置中 */
    gap: 100px;
    /* 控制兩個選單的間距 */
    padding: 0 10px;
    /* width: 100%; */
}

.refresh-container {
    margin-right: 10px;
}

#industryContainer,
#categoryContainer {
    display: flex;
    align-items: center;
    width: 55%;
    gap:20px;
}

#industryContainer h4,
#categoryContainer h4{
    font-size: 20px;
}

.filter-controls select {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 6px;
}

@media screen and (max-width: 992px){
    #word{
        font-size: 20px;
    }

    #industryContainer,
    #categoryContainer {
        gap:10px;
    }

    #industryContainer h4,
    #categoryContainer h4{
        font-size: 18px;
    }

    .filter-controls{
        gap:25px;
    }

}
/* 手機頁面 */
@media (max-width: 480px){
    #word {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    #industryContainer h4,
    #categoryContainer h4{
        
        font-size: 14px;
    }

    #industryContainer,
    #categoryContainer{
        width: 50%;
        gap: 5px;
    }

    .filter-controls{
        gap:6px;
    }
    .filter-controls select {
        font-size: 10px;
        padding: 6px 10px;
        border-radius: 6px;
    }

    .select-bar {
        font-size: 10px;       /* 縮小整體字型 */
        line-height: 1;        /* 避免被撐高，可依需要微調 */
        padding: 2px 4px;      /* 減少內距，讓外觀更小巧 */
        width: auto;           /* 允許自動寬度或自行設定固定值 */
        height: auto;          /* 有時候在某些瀏覽器得指定才能真正縮小 */
      }
    .select-bar option{
        font-size: 8px;
    }
}